:root {
  /* Your variable overrides */
  --primary: #a18c6b;
  --body-bg: #fafafa;
  --body-color: #121212;
  --link-hover-color: #75644a;
}

body {
  color: var(--body-color);
  background-color: var(--body-bg);
  /* Display the scrollbar, so that `document.body.clientWidth` doesn't pop
     between pages. */
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

.nav-link {
  color: var(--primary);
  font-size: 14px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--link-hover-color);
}

.nav-link.active {
  opacity: 0.56;
}
