:root {
  /* Your variable overrides */
  --primary: #a18c6b;
  --body-bg: #fafafa;
  --body-color: #121212;
  --link-hover-color: #75644a;
}

body {
  color: var(--body-color);
  background-color: var(--body-bg);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

.nav-link {
  color: var(--primary);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--link-hover-color);
}

.nav-link.active {
  opacity: .56;
}
